* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.6;
  background: #AD5936;
  color: #3A3A44;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background: #AD5936;
  max-width: 85vw;
  height: 85.5vh;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 1.23em;
  word-break: break-word;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #3A3A44;
}

input[type="text"] {
  padding: 40px 15px;
  font-size: 1em;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

button {
  padding: 40px 20px;
  background-color: #AD5936;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #F05628;
  transform: scale(1.05);
}

#age {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffeb3b;
}

input[type="text"] {
  background: #AD5936;
  border: none;
}

input[type="text"]:hover {
  background: #F05628;
  border: none;
  transform: scale(1.05);
}

input[type="text"]::placeholder {
  color: #fff;
}

input[type="text"]:focus {
  background: #AD5936;
  border: none;
}

input[type="text"],
button {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
  }
}